<div class="container">

  <h5>Argumentos de entrada: {{argumentos}}</h5>
  <h5>Nombre de plataforma: {{nombrePlataforma}}</h5>
  <h5>Version node: {{versionNode}}</h5>
  <h5>Memoria total reservada: {{memoria}}</h5>
  <h5>Path de ejecucion: {{pathEjec}}</h5>
  <h5>Process ID: {{IdProceso}}</h5>
  <h5>Carpeta de proyecto: {{carpetaProy}}</h5>
  <h5>Cantidad de procesadores: {{cantProc}}</h5>
</div>